@charset "UTF-8";


/* form styling */
label {
margin-right: .3em;
width: 6.3em; /* I made this deliberately wide – come up with your own
optimal width */
display: inline-block;
text-align: right; /* width will not work for “inline” elements such as
“label”. Therefore we need to set it to “inline-block” */
}

#formcol1 li {
	list-style:none;
	margin-bottom: 5px;
}

#wrapper {
	width: 700px;
	margin: 0 auto;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

legend {
    text-align: center;
}

#formcol1 ul {
	width: 420px;
	margin: 0 auto;
}

.instructions {
	border: 3px solid #6A3D2F;
	padding: 4px;
	font-size: 1em;
	margin-bottom: 1em;
}

#multchoice {
	text-align: center;
}

#multchoice label {
	width: auto;
	display: inline;
	margin-right: 4;
}

#multchoice p {
	margin-left: 0px;
}

#multchoice span {
	display: inline-block;
	margin-left: 3px;
	margin-right: 6px;
}

fieldset {
	border: 2px solid black;
	padding: 20px;
	margin-bottom: 20px;
}

legend {
	font-weight: bold;
}

select:focus, select:active, input:focus, input:active, input:focus + label,
input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #6A3D2F !important;}

#formcol1 input.reqfield {
	background:#FF9;
}

h1 {
	text-align: center;
}

/* end of form css */
	
