h1, h2 {
color: rgb(255, 57, 146);
}
p {
color: rgb(54, 0, 85);
}
ul {
border: 3px solid rgb(115, 255, 208);
}
ol {
border: 1px solid rgb(255, 75, 165);
}

ol, ul {
padding: 1px 30px;
border-radius: 1px;
}
h1, strong {
color: rgb(96, 138, 255);
}
em {
color: rgb(193, 121, 121);
}